{% block colormaps %}

<style type="text/css">
  @import 'https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css';
  @import 'https://cdn.jsdelivr.net/npm/daisyui@2.14.2/dist/full.css';
</style>

<script src="//unpkg.com/alpinejs" defer></script>
<script src="https://cdn.tailwindcss.com"></script>

<div
  class="control-panel bg-transparent absolute bottom-[25px] right-[25px] z-20"
  x-data="{ controls: false }"
  data-theme="winter"
>
  <button
    class="btn btn-primary btn-sm gap-2"
    @click="controls = ! controls"
  >
    Controls
    <i class="ri-equalizer-line" x-show="!controls"></i>
    <i class="ri-close-line" x-show="controls"></i>
  </button>

  <div
    class="absolute bottom-full pb-3 right-0"
    x-show="controls"
  >
    <div class="card bg-slate-100 bg-opacity-[.85] min-w-max !rounded-lg shadow-lg">
      <div
        class="card-body !p-0"
        x-data="{ customizeDisplay: false }"
      >
        <div
          class="grid gap-4"
          :class="{ 'grid-cols-2' : customizeDisplay }"
        >
          <div
            x-show="customizeDisplay"
            x-data="{
              selected_band: null,
              selected_frame: null
            }"
            class="row-span-full w-56"
          >
            <div
              id="dataContainer"
              class="bg-slate-200 flex flex-col h-full text-slate-900 justify-between p-4"
              x-data="{ frames: [] }"
              x-init="(async () => {
                const response = await fetch(`${host}/${baseEndpoint}/${imageId}/frames`)
                data = await response.json()
                frames = data['frames']
              })()"
            >
              <div>
                <ul class="menu menu-compact menu-secondary p-1 rounded gap-2">
                  <template x-for="frame in frames">
                    <li tabindex="0">
                      <a class="font-bold" x-text="frame.frame"></a>
                      <ul class="!block !static !p-0 rounded">
                        <template x-for="band in frame.bands">
                          <li>
                            <a class="flex gap-1" :class="{ 'active' : selected_band == band.index && selected_frame == band.frame }" @click="() => {
                              if (selected_band == band.index && selected_frame == band.frame) {
                                selected_band = null;
                                selected_frame = null;
                              } else {
                                selected_band = band.index;
                                selected_frame = band.frame;
                              }
                            }">
                              <i class="ri-arrow-right-line"></i>
                              <span x-text="band.index"></span><span x-text="band.name"></span>
                            </a>
                          </li>
                        </template>
                      </ul>
                    </li>
                  </template>
                </ul>
              </div>
              <div class="bg-primary p-4 mt-4 rounded" x-show="selected_band != null && selected_frame != null">
                <div class="flex flex-col gap-2">
                  <span class="text-primary-content text-lg">Configure Band <span x-text="selected_band"></span></span>
                  <div class="field">
                    <label for="colors" class="pb-1 block text-xs text-primary-content">Choose a colormap:</label>
                    <select
                      id="colors"
                      onChange='changeColors();'
                      class="select select-sm w-full"
                    >
                      <option>-- none --</option>
                    </select>
                  </div>
                  <div class="flex gap-2 w-full">
                    <div class="field">
                      <input class="input input-sm w-full" id="mincolor" type="number" step="0.01" placeholder="from" onChange='changeColors();'>
                    </div>
                    <div class="field">
                      <input class="input input-sm w-full" id="maxcolor" type="number" step="0.01" placeholder="to" onChange='changeColors();'>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="controls flex flex-col gap-6 p-4">
            <div class="field form-control">
              <label class="label cursor-pointer !justify-start gap-2">
                <input type="checkbox" class="toggle toggle-primary" x-model="customizeDisplay">
                <span class="label-text">Customize Display</span>
              </label>
            </div>
            <div class="thumbnail">
              <img id="thumbnail" class="w-full" />
            </div>
            <div class="field">
              <label for="rasterOpacityRange" class="pb-1 block">Raster Layer Opacity:</label>
              <input
                type="range"
                min="1"
                max="100"
                value="100"
                class="overlay range range-xs range-primary"
                id="rasterOpacityRange"
                onChange="updateTilesOpacity(event, value)" onInput="updateTilesOpacity(event, value)"
              >
            </div>

            <div class="field" id="metadataViewer">
              <button
                type="button"
                id="copyMetadataButton"
                onclick="copyMetadata();"
                class="btn btn-primary btn-sm btn-outline"
              >
                Copy Metadata
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var colorsDropdown = document.getElementById('colors');
  var bandDropdown = document.getElementById('bandChoice');
  var thumbnail = document.getElementById('thumbnail');
  var bands;

  thumbnail.src = thumbnailUrl;

  fetch(`${host}/${baseApi}/large-image/colormaps`)
    .then(response => response.json())
    .then(data => {
      for (const [source, indices] of Object.entries(data)) {
        for (const index in indices) {
          const option = data[source][index];
          var newOption = document.createElement('option');
          newOption.value = option;
          newOption.text = option;
          colorsDropdown.appendChild(newOption);
        }
      }
    });

  function changeColors() {
    var cmap;
    if (colorsDropdown.value == '-- none --') {
      cmap = undefined;
    } else {
      cmap = colorsDropdown.value;
    }
    updateTileUrlOption('palette', cmap);
    updateTileLayer();
    thumbnail.src = thumbnailUrl;
  }

  function bandChange() {
    updateTileUrlOption('palette', undefined);
    updateTileUrlOption('band', undefined);
    updateTileUrlOption('min', undefined);
    updateTileUrlOption('max', undefined);

    updateTileLayer();
    thumbnail.src = thumbnailUrl;
  }

  var metadata = undefined;
  fetch(`${host}/${baseEndpoint}/${imageId}/metadata`)
    .then(response => response.json())
    .then(data => {
      metadata = data
    });

  async function copyMetadata() {
    var copyText = JSON.stringify(metadata);
    await navigator.clipboard.writeText(copyText);
    alert("Copied image metadata");
  }
</script>

{% endblock %}
