<h1>S3 Image Files</h1>
<br />

{% for object in object_list %}
<figure>
  <a href="{% url 's3-image-file-viewer' object.pk %}"><img id="{{ object.pk }}-thumbnail" src="{% url 's3-image-file-thumbnail' object.pk 'png' %}" alt="thumbnail" style="height: 150px" /><a />
    <figcaption>Image {{ object.pk }} ({{ object.file.size|filesizeformat }}): <a href="{% url 's3-image-file-detail' object.pk %}">CesiumJS</a> or <a href="{% url 's3-image-file-viewer' object.pk %}">GeoJS</a></figcaption>
</figure>
{% endfor %}

<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
<br />
<a href="{% url 'image-list' %}">Go to Images</a>
